.header {
    text-align: center;
    background-color: black;
    font-weight: 300;
    color: cornsilk;
}

#cityList {
   background-color: salmon;
   border-bottom: firebrick 5px;
   border-right: firebrick 5px;
   border-top: firebrick 5px;
   border-left: firebrick 5px;
}

#image-one {
    justify-content: right;
}

#col-one{
    border: 2px solid grey;
    height: 50h;
    background-color: rgb(0, 183, 255);
 
}

#col-two {
    border: 2px solid grey;
    height: 50vh;
    background-color: rgb(0, 238, 255);

}

#col-three {
    background-color: aqua; 
}


#col-four {
    background-color: aqua; 
     
}

 #col-four {
    background-color: aqua; 
} 

#col-five {
    background-color: aqua; 
}

#col-six {
    background-color: aqua; 
}

#col-seven {
    background-color: aqua;  
}

#col-eight {
    background-color: aqua;
    
} 
.card-body {
   background-color: rgb(0, 255, 170); 
   border-style: double;
    border-color: black; 
}
.card {
    width: fit-content;
}

.card-img-top {
    background-color: cadetblue;
}